@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    background-color: #0b405a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results{
    padding: 25px;
    color: #ffffff;
    text-align: center;
}

#winner{
    font-size: 48px;
    font-weight: 900;
}

p{
    font-size: 28px;
    font-weight: 500;
}

button {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 24px;
}

#rock{
    background-color: #d05228;
}

#paper{
    background-color: #dfa927;
}

#scissors{
    background-color: #e1bebe;
}